TamaWeb/TamagotchiMVC/Service References/TamagotchiServiceClient/TamagotchiService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tama.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tama.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TamagotchiDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Boredom" type="xs:int" />
      <xs:element minOccurs="0" name="CooldownTill" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Health" type="xs:int" />
      <xs:element minOccurs="0" name="Hunger" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsAlive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sleep" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TamagotchiDTO" nillable="true" type="tns:TamagotchiDTO" />
  <xs:complexType name="ArrayOfTamagotchiItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TamagotchiItemDTO" nillable="true" type="tns:TamagotchiItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTamagotchiItemDTO" nillable="true" type="tns:ArrayOfTamagotchiItemDTO" />
  <xs:complexType name="TamagotchiItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TamagotchiItemDTO" nillable="true" type="tns:TamagotchiItemDTO" />
</xs:schema>